
.snake-line {
  transform: translateX(-100%);
  animation: snakeAnimation 1s linear infinite;
}

@keyframes snakeAnimation {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(120%);
  }
}

@keyframes slideRight {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
